@import "../styles/colors";

.product {
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  position: relative;
  -webkit-box-shadow: 9px 10px 46px -15px rgba(200, 200, 200, 1);
  -moz-box-shadow: 9px 10px 46px -15px rgba(200, 200, 200, 1);
  box-shadow: 9px 10px 46px -15px rgba(200, 200, 200, 1);
  transition: all ease-in-out 200ms;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    transition: all ease-in-out 200ms;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
  .product-img {
    width: auto;
    height: 70px;
    max-width: 100%;
    display: block;
    margin: 10px auto;
  }
  .name {
    font-weight: bold;
    margin: 10px;
    color: #444444;
  }
  button.delete-btn {
    margin-left: 5px;
  }
  li {
    line-height: 27px;
    margin: 7px 0;
  }
  .category-box {
    margin: auto 30px;
  }
  .nutrients-switch {
    margin: 8px auto;
    color: $darkGreen;
  }
  .nutrients {
    height: 0;
    border-top: 1px solid $lightBlue;
    padding-top: 5px;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    color: grey;
    text-align: left;
    transition: all ease-in-out 200ms;
    &_info {
      font-size: 11px;
      color: #ccc;
    }
  }
  .badge-times {
    padding: 7px 12px;
    position: absolute;
    top: 14px;
    left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .badge-category {
    background-color: white;
    width: 120px;
    border: 2px solid;
  }
}