@import '../styles/colors.sass';

.calendar {
    th {
        background-color: $darkGreen;
    }
    th,td {
        height: 50px;
        width: 50px;
        text-align: center;
    }
    .navi {
        width: 350px;
        button {
            width: 10%;
            background-color: transparent;
        }
        h4 {
            width: 80%;
            display: inline-block;
        }
    }
    .today {
        background-color: $lightBlue;
    }
}