@import "./styles/colors";

.single-list-preview {
  position: relative;
  padding: 30px 30px 45px 30px;
  margin: 20px;
  border: 1px solid #eee;
  background-color: #ffffff;
  hr {
    height: 2px;
    background-color: $lightBlue;
  }
  .btn-delete {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .btn-open-list {
    margin-top: 30px;
  }
}
